<button (click)="openModal()">Open Modal</button>


<div class="modal-backdrop" *ngIf="showModal" (click)="closeModal()"></div>
<div class="modal-backdrop" *ngIf="showModal" (click)="closeModal()"></div>
<div class="modal" *ngIf="showModal">
  <div class="modal-container">
    <div class="modal-header">
      <h3 class="modal-title">Add Client</h3>
      <button class="modal-close" (click)="closeModal()">x</button>
    </div>
    <form class="modal-body">
      <div class="form-group">
        <label for="name">Name:</label>
        <input placeholder="Name" type="text" id="name" name="name" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input placeholder="johndoe@gmail.com" type="email" id="email" name="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input placeholder="Phone" type="tel" id="phone" name="phone" [(ngModel)]="phone">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input placeholder="Password" type="password" id="password" name="password" [(ngModel)]="password">
      </div>
      <div class="modal-footer">
        <button type="submit">CREATE USER</button>
      </div>
    </form>
  </div>
</div>



